agc-calving-date-action button[class^="agc-wizard__actions-"] {
    background-color: var(--agc-action-button-bg-color, transparent);
    color: var(--agc-action-button-color, #ffffff);
    border: var(--agc-action-button-border, none);
    padding: var(--agc-action-button-padding, 10px 20px);
    margin: var(--agc-action-button-margin, 0);
    font-size: var(--agc-action-button-font-size, 17px);
    font-family: var(--agc-action-button-font-family, Raleway);
    cursor: var(--agc-action-button-cursor, pointer);
    text-transform: var(--agc-action-button-text-transform, uppercase);
}
